<div class="row mt-5">
    <div class="col-md-12">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="mt-5">
            <!--Card image-->
            <div class="view gradient-card-header blue darken-2">
                <h4 class="h4-responsive text-white">Edit User</h4>
            </div>
            <div class="container">
                <br>
                <fieldset>
                    <label>Name</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.name" type="text" required>
                </fieldset>
                <fieldset>
                    <label>Date</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.date" type="text" required>
                </fieldset>

                <fieldset>
                    <label>Time</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.time" type="text" name="pasword"
                        required>
                </fieldset>

                <fieldset>
                    <label>Address</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.addresss1" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>Landmark</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.landmark" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>City</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.city" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>Pincode</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.pincode" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>Service Provider</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.providerName" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>User</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.userName" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>OTP</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.end_services_otp" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>How Much Window AC Service</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.window_ac_service" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>How Much Split AC Service</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.split_ac_service" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>Less/No Colling</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.less_no_cooling" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>AC Not Starting</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.ac_not_starting" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>Noise Issue</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.noise_issue" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>Water Leakege</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.water_leakege" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>Total Money</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.total" type="text"
                        name="confirmPassword" required>
                </fieldset>
                <fieldset>
                    <label>Pending/Completed</label>
                    <input class="form-control" [(ngModel)]="bookServicesByUserField.activeStatus" type="text"
                        name="confirmPassword" required>
                </fieldset>
            </div>
            <br>
        </mdb-card>
    </div>
</div>