<div class="row mt-5">
    <div class="col-md-12">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="mt-5">
            <!--Card image-->
            <div class="view gradient-card-header blue darken-2">
                <h4 class="h4-responsive text-white">Contact Us Data </h4>
            </div>

            <!--/Card image-->
            <!--Card content-->
            <mdb-card-body>


                <!--Table-->
                <table class="table">

                    <!--Table head-->
                    <thead class="mdb-color darken-3">
                        <tr class="text-white">
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        <tr *ngFor=" let user of allUserData">
                            <td>{{user.name}}</td>
                            <td>{{user.emailOfUser}}</td>
                            <td>{{user.message}}</td>
                            <td>{{user.subject}}</td>

                            <td><button class="btn btn-black" (click)="deleteUserData(user.id)"><i class="fa fa-trash"
                                        aria-hidden="true"></i></button></td>
                        </tr>
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->



            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
</div>